@use "variables" as *;
@use "reset" as *;

body {
  min-height: 100svh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $ff;
  line-height: 1.5;
  background-color: $clr-primary;
}

// default paragraph styles
p {
  font-size: $fs-body;
  letter-spacing: 0.0019em;
}

.card {
  position: relative;
  background-color: $clr-white;
  max-width: clamp(20rem, calc(20rem + ((1vw - 0.2rem) * 7.2727)), 24rem);
  padding: $space-m;
  margin-inline: auto;
  border-radius: $radius-m;
  border: 1px solid black;
  box-shadow: $shadow;
  transition: all ease-in-out 0.1s;
}

// card hover and focus styles
.card:hover,
.card:focus,
.card:focus-within {
  box-shadow: $shadow-hover;
}

.card:focus-within:focus {
  outline: transparent;
}

.card:focus-within .card__link {
  color: $clr-primary;
}

.card__image {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
  border-radius: $radius-s;
}

.card__content-wrapper {
  display: flex;
  flex-direction: column;
  margin-block: 1.25rem;
  gap: 0.75rem;
}

.card__category {
  background-color: $clr-primary;
  width: max-content;
  padding: 0.3125rem 0.75rem;
  border-radius: 0.2em;
  font-size: 0.875rem;
  font-weight: 700;
}

.card__date {
  font-size: $fs-body;
  letter-spacing: -0.034em;
}

.card__link {
  color: $clr-black;
  text-decoration: none;
  transition: all ease-in-out 0.1s;
}

.card__link:hover {
  color: $clr-primary;
}

.card__link::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}

.card__heading {
  font-size: $fs-heading;
  font-weight: 700;
  letter-spacing: 0.04em;
  min-height: 0vw;
}

.card__body {
  color: $clr-grey;
}

.card__author {
  margin-top: $space-m;
  display: flex;
  align-items: center;
  gap: $space-s;
  font-weight: 700;
}

.card__author-image {
  width: 2rem;
  height: 2rem;
}

.card__author-fullname {
  font-size: 0.875rem;
}

footer {
  margin-block: $space-m;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $space-s;

  @media screen and (min-width: 48em) {
    flex-direction: row;
  }
}
